


<div flex fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="65" > <img src="./assets/img/logo.png" class="logo-img" /></div>
    <div fxFlex="20" >
        <div class="user-logout">
                <a class="logout" (click)="logout()" class="header_text_r">logout</a>
            <strong class="header_text">{{agency}}</strong><br>
            <strong class="header_text">{{userName}}</strong>
            
            
          </div>
      </div>
      </div>
      <hr style="color:blue;padding:4px;"/>