<!-- <div class="row" style="margin-top:10%;">
<div class="col-md-4">
  <mat-form-field style="width:100%;">
    <mat-select placeholder="Application" [(ngModel)]="F1_EXE_RES">
      
        <mat-option (click)="getExecutableCode()" *ngFor="let ex of F1_EXE_DATA['EXE_TYP']" [value]="ex">
              {{ex}}
        </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="col-md-4">
  <mat-form-field style="width:100%;">
    <mat-select placeholder="Executable">

    </mat-select>
  </mat-form-field><br />
  <mat-form-field style="width:100%;">
    <textarea matInput placeholder="Executable Description" [(ngModel)]="F4_EXE" value="" name="">
  
    </textarea>
  </mat-form-field>
</div>
<div class="col-md-4">
  <mat-form-field style="width:100%;">
    <mat-select placeholder="Platform">

    </mat-select>
  </mat-form-field><br />
  <mat-form-field style="width:100%;">
    <textarea matInput placeholder="Platform Description" [(ngModel)]="F5_EXE" value="" name="">
  
    </textarea>
  </mat-form-field>
</div>
</div>
<hr />
<div style="float:right;">
  <button type="submit" mat-raised-button color="primary"  >Data Load</button>
<button type="submit" mat-raised-button color="primary"  >Data Load</button>
</div> -->